<h3>Distribución de la calidad de los vinos (Tinto vs Blanco)</h3>

<div class="toggle">
  <label>
    <input type="checkbox" (change)="toggleVista()" />
    Mostrar en porcentaje
  </label>
</div>

<div #chart></div>
<p>“En este gráfico mostramos cómo se distribuyen los vinos según su nivel de calidad. La mayoría de los vinos se concentran en valores medios (5 y 6), lo que refleja que en el dataset predominan calidades intermedias. Esto nos permite entender de inmediato que los vinos excepcionales o muy bajos en calidad son poco frecuentes.”</p>